* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1.2fr 8.8fr;
}

.header {
    background-color:#38bdf8;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
}

.title {
    flex: 0 1 1;
    display: flex;
}

.cred {
    flex: 0 1 1;
    display:flex;
}

.sidebar {
    background-color:#bae6fd;
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    flex: 1;
}

.inptWrapr {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 2px;
}

input, select, #newB {
    width: 90%;
}

.mainContent {
    background-color:#e0f2fe;
    grid-row:2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.card {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
}